* {
    font-family: Arial, Helvetica, sans-serif
    font-size: 16px;
}

body {
    background-color: rgb(90, 90, 240);

}

main {
    background-color: rgb(248, 250, 252);
    width: 500;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(red, green, blue, alpha);
}